<%- include('partials/header'); -%>




<h1> Compose </h1>
<form action= "/compose" method="post">
    <div class="form-group">

        <label for="" >Title</label>
        <input type="text" class="form-control"  name="title" id="">
        <label for="">Post</label>
        <textarea class="form-control" name="texto" id="" cols="30" rows="10"></textarea>
    </div>
    

    <button class="btn btn-primary" type="submit" name="button">Publicar</button>
</form>


<%- include('partials/footer'); -%>